@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BEM VINDO USUARIO </h1>
    <p>SISTEMA DE CADASTRADO  E ACOMPANHAMENTO DE CHAMADOS</p>
</div>


<form>
    <p>CRIAR NOVO CHAMDO</p>
    <div class="form-group">
        <label for="titulo">Titulo do chamado</label>
        <input type="text" class="form-control" id="titulo" >
     
    </div>
    <br/>
    <div class="form-group">
        <label for="Descrição">Descrição do chamado</label>
        <textarea class="form-control" id="Descrição" rows="4"></textarea>
     
    </div> 
    <br/>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>