@model ChamadoModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BEM VINDO USUARIO </h1>
    <p>SISTEMA DE CADASTRADO  E ACOMPANHAMENTO DE CHAMADOS</p>
</div>


<form asp-controller="Chamado" asp-action="Criar" method="post">
    <p>CRIAR NOVO CHAMADO</p>
    <div class="form-group">
        <label for="titulo">Titulo do chamado</label>
        <input type="text"  asp-for="titulo" class="form-control" id="titulo" >
     
    </div>
    <br/>
    <div class="form-group">
        <label for="descricao">Descrição do chamado</label>
        <textarea asp-for="descricao" class="form-control" id="descricao" rows="4"></textarea>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Enviar</button>
   
</form>